body {
    background-color: aqua;
}
h1{
    text-align:center;
}
#input {
    background-color: white;
    /* colore sfondo del riquadro */
    padding: 20px;
    /* spazio interno */
    border-radius: 12px;
    /* angoli arrotondati */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    /* ombra */
    width: 300px;
    /* larghezza */
    margin: 20px auto;
    /* centra il box */
}
#output,#error {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    width: 250px;
    margin: 15px auto;
    text-align: center;
    font-size: 18px;
}
#output {
    border-left: 6px solid #4CAF50;
    /* verde */
}
#error {
    border-left: 6px solid #E53935;
    /* rosso */
}
input {
    padding: 10px;
    margin-top: 8px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}
button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

#btnElabora {
    background-color: #4CAF50;
    color: white;
}
#btnElabora:hover {
    background-color: #45A049;
}

#btnCancella {
    background-color: #E53935;
    color: white;
}
#btnCancella:hover {
    background-color: #D32F2F;
}
